body {
	background-color: #bbb;
	padding: 0 1rem;
	font-family: sans-serif;
}

nav {
	background-color: #aaa;
	padding: .5rem;
	display: flex;
	gap: 1rem;
}

nav a {
	text-decoration: none;
	color: #333;
}

nav a.active {
	color: brown;
	font-weight: bold;
}

.danger {
	color: red;
	background-color: #333;
	padding: 1rem;
	border-radius: .3rem;
}

.employee {
	margin-bottom: 1rem;
}
	
.employee .name {
	font-size: 1.2rem;
	margin: 0;
	font-weight: bold;
}
	
.employee .job_title {
	font-style: italic;
	margin: 0;
}