<nav>
	<a class="<%= pageIdCode === 'welcome' ? 'active' : '' %>" href="/">Welcome</a>
	<a class="<%= pageIdCode === 'employees' ? 'active' : '' %>" href="/employees">Employees</a>
	    <a class="<%= pageIdCode === 'customers' ? 'active' : '' %>" href="/customers">Customers</a>
	<a class="<%= pageIdCode === 'about' ? 'active' : '' %>" href="/about">About</a>
</nav>